[Match]
Name=virbr0

[Network]
Address=192.168.122.1/24
Address=2001:db8::1/64
ConfigureWithoutCarrier=true
IgnoreCarrierLoss=true
LinkLocalAddressing=ipv6
IPv6SendRA=yes
DHCPServer=yes

[DHCPServer]
PoolOffset=2
PoolSize=200
DNS=192.168.122.1
NTP=192.168.122.1

[IPv6Prefix]
Prefix=2001:db8::/64

[DHCPServerStaticLease]
MACAddress=00:01:02:03:04:05
Address=192.168.122.2
Hostname=test-x86

[DHCPServerStaticLease]
MACAddress=00:0a:0b:0c:0d:0e
Address=192.168.122.3
Hostname=test-arm

[DHCPServerStaticLease]
MACAddress=00:05:06:07:08:09
Address=192.168.122.4
Hostname=test-riscv

[DHCPServerStaticLease]
MACAddress=00:aa:bb:bc:dd:ee
Address=192.168.122.5
Hostname=test-loong
