[Unit]
Description=QEMU virtual machine (%i)
Wants=sys-subsystem-net-devices-virbr0.device
After=sys-subsystem-net-devices-virbr0.device

[Service]
Type=simple
EnvironmentFile=/etc/qemu/%i.conf
ExecStart=/usr/bin/qemu-system-loongarch64 -name %i -run-with user=qemu -monitor unix:/run/qemu-%i.sock,server,nowait $QEMU_ARGS
ExecStop=-/usr/bin/sh -c 'echo system_powerdown | nc -U /run/qemu-%i.sock; tail --pid=$MAINPID -f /dev/null'
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
